// head
@import 'header/header.styl'

// aside
@import 'aside/aside.styl'

//user
@import 'user/user.styl'

// footers
@import 'footer/footer.styl'

// skills
@import 'skills/skills.styl'

// navigation
@import 'navigation/navigation.styl'

//buttons
@import "buttons/buttons.styl"

//socials
@import "socials/socials.styl"

//titles
@import "titles/titles.styl"