extends ../layout/main

block variables
    - var title = 'Главная страница'
    - var pageClass = 'index-page'


block content
    .container
        include ../modules/aside
        main.main
            .main__item
                span.main__item-main Education
                .main__item-body
                    .main__row
                        .main__row-val
                            span 2014-2018
                        .main__row-key
                            li University of Information Technology and Management in Rzeszow
                            li Bechelor's Degree
                            li Information Technologies(Programming)
                    .main__row
                        .main__row-val
                            span 2018-2020(still studying)
                        .main__row-key
                            li University of Information Technology and Management in Rzeszow
                            li Master's Degree
                            li Software Engineering Technologies

            .main__item
                span.main__item-title Skills
                .main__item-body
                    p.main__item-text Creating Web applications using Vue.js + Node.js and Java SE/EE(familiar with Spring framework, JSP, JDBC, Servlets, MVC)


            .main__item
                span.main__item-title Personal Experience
                .main__item-body
                    ul.skills
                        li.skills__item
                            .skills__item-val
                                span 1) Java Web app
                            .skills__item-key
                                span Deployed simple web app using Spring Mvc

                        li.skills__item
                            .skills__item-val
                                span 2) Lending Page
                            .skills__item-key
                                span Made up simple landing page - resume using gulp, sprites, pug and stylus
                        li.skills__item
                            .skills__item-val
                                span 3) Registration menu on Vue.js
                            .skills__item-key
                                span Created simple Registration Form using Vue.js and NodeJS

            .main__item
                span.main__item-title Personal ifnoramtion
                .main__item-body
                    p.main__item-text I'm 21 old student from Ukraine, looking for a job in Poland with a huge desire for developing in my profession. My main iterests are:
                    ul.skills
                        li.skills__item
                            .skills__item-val
                                span 1) Music
                            .skills__item-key
                                span I listen to a variety of ganres but prefer some dynamic and inspiring music like Queen, SOAD, Pendulum
                        li.skills__item    
                            .skills__item-val
                                span 2) Computer games
                            .skills__item-key
                                span Favorite are "The Witcher" series, "Devil May Cry", "Bioshock" series
                        li.skills__item
                            .skills__item-val
                                span 3) Books
                            .skills__item-key
                                span Favorite entertaining books: "The Witcher", "Harry Potter"; favorite science books: "Introduction to Psychoanalysis", "We are our Brains"
                        li.skills__item
                            .skills__item-val
                                span 4) Sport 
                            .skills__item-key
                                span I really like to play volleyball, football and also swim.