.socials

  &__list
    align-items center
    display flex
    justify-content center

    &-item
      margin 0 5px

    &-link
      align-items center
      background-color #2b5a84
      border-radius 50%
      display flex
      justify-content center
      size(60px)

      .icon
        fill #ffffff
        size(50px)