.aside
  background-color #2b5a84
  color #ffffff
  flex 0 0 500px
  max-width 500px
  padding 65px
  width 100%
  font-family open_sansregular

  &__item
    margin-bottom 95px

    &:last-child
      margin-bottom 0

    &-wrapper
      margin-bottom: 60px

    &-header
      align-items center
      display flex
      margin-bottom 35px

      .icon
        fill #ffffff
        margin-right 45px
        size(45px)

    &-title
      font-size rem(25)

    &-body
      padding-left 60px

  &__subitem
    margin-bottom 40px

    &:last-child
      margin-bottom 0

    &-title
      display block
      margin-bottom 35px
      text-transform uppercase

  &__list

    &-item
      margin-bottom 15px

      &:last-child
        margin-bottom 0

  &__row
    align-items center
    display flex
    margin-bottom 40px

    &.aside__row--margin-small
      margin-bottom 20px

    &:last-child
      margin-bottom 0

  &__col
    flex 1
    margin-right 15px

    &:last-child
      margin-right 0

    .icon
      fill #ffffff
      margin-right 10px
      size(35px)
